backports.tarfile==1.2.0
bbknn==1.6.0
celltypist
gseapy
harmonypy
jupyterlab-quarto
leidenalg
louvain
numba==0.59.1
numpy==1.26.4
pybiomart
pyliger==0.2.3
scib-metrics==0.5.1
scanpy==1.9.6
scrublet
scanorama==1.7.4
scikit-misc
scvi-tools==1.1.6
